VITE_CCIAA_USERNAME=
VITE_CCIAA_PASSWORD=
VITE_CCIAA_ENVIRONMENT=
VITE_PERSON_WITH_ROLES_FISCAL_CODE=
VITE_PERSON_WITHOUT_ROLES_FISCAL_CODE=
VITE_PERSON_WITH_PROTESTS_FISCAL_CODE=
VITE_PERSON_WITHOUT_PROTESTS_FISCAL_CODE=
VITE_PERSON_WITH_HOLDINGS_FISCAL_CODE=
